// Body
$body-bg: #f7f7f7;

// Typography
$font-family-sans-serif: 'MyriadPro', sans-serif;

// Default red
$storex-red: #ee3439;

// Default grey
$storex-grey: #353535;

// Light grey
$storex-light-grey: #eff0ee;

// Light grey
$storex-light-grey-bg: #eff0eecc;
