// Body
$body-bg: #F7F7F7;

// Typography
$font-family-sans-serif: 'MyriadPro', sans-serif;

// Default red
$storex-red: #EE3439;

// Default grey
$storex-grey: #353535;

// Light grey
$storex-light-grey: #EFF0EE;

// Light grey
$storex-light-grey-bg: #EFF0EECC;