@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flickity/dist/flickity.min.css';

// Fonts
@font-face {
    font-family: 'Lato';
    src: url(/public/fonts/Lato-Regular.eot) format('embedded-opentype');
    src: url(/public/fonts/Lato-Regular.woff2) format('woff2');
    src: url(/public/fonts/Lato-Regular.woff) format('woff');
    src: url(/public/fonts/Lato-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(/public/fonts/Lato-Bold.eot) format('embedded-opentype');
    src: url(/public/fonts/Lato-Bold.woff2) format('woff2');
    src: url(/public/fonts/Lato-Bold.woff) format('woff');
    src: url(/public/fonts/Lato-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

// Variables
@import 'variables';

html {
    font-family: 'Lato', sans-serif;
    color: $storex-grey;
}

main:not(.admin-dashboard) {
    background-color: $body-bg;
    // background: linear-gradient(180deg, $storex-light-grey 0%, $body-bg 100%);
}

.btn {
    background-color: $storex-red;
}

footer,
footer p,
footer a {
    color: white;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
}

h3 {
    font-size: 20px;
    color: $storex-grey;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

.h-104 {
    height: 28rem;
}

.h-110 {
    height: 30rem;
}

.header {
    background-position: center;
    background-size: cover;
}

.icon,
.icon-hover:hover {
    fill: $storex-red;
}

li {
    font-weight: 400;
    line-height: normal;
}

p,
label {
    font-size: 18px;
    color: $storex-grey;
}

.small-paragraph {
    font-size: 13px;
}

.squeezed-text {
    display: -webkit-box;
    /* Required for multi-line clamping */
    -webkit-box-orient: vertical;
    /* Make the box vertical */
    -webkit-line-clamp: 2;
    /* Display 2 lines of text */
    overflow: hidden;
    /* Hide anything after the 2 lines */
    text-overflow: ellipsis;
    /* Add ellipsis if needed */
    line-height: 1.5;
    /* Adjust line height for readability */
    height: auto;
    /* Let the container adjust based on content */
}

.text-shadow {
    text-shadow: 0px 0px 35px #000000;
}

.text-extra-small {
    font-size: 8px;
}

.text-small {
    font-size: 13px;
}

.transform-svg {
    transform: scaleY(-1);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.x-footer-links {
    order: 2;
}

#all-rights {
    order: 1;
}

/* Custom Flickity button styles */
.flickity-prev-next-button .flickity-button-icon {
    color: $storex-red;
}

.flickity-prev-next-button:disabled {
    display: none;
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.flickity-button {
    transition: background 0.2s ease-in-out;
}

/* Dot style for the selected cell */
.flickity-page-dot.is-selected {
    background-color: $storex-red;
}

// Placement of the dots.
.flickity-page-dots {
    bottom: -5px;
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px $storex-red;
}

.review-cell {
    width: 30%;
    /* Slightly less than 33% to account for margins */
    margin: 0px 15px;
}

.review-carousel {
    position: relative;
    padding: 30px 0;
}

/* Custom class for the h3 element */
.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    /* Default font size (adjust as needed) */
}

.truncated-text.squeezed {
    font-size: 1rem;
    /* Smaller font size when content exceeds 2 lines */
}

// .review-carousel .review-cell:nth-child(3n) {
//     border: none;
//     /* or border: 0; */
// }

// Media Queries

.faq-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.product-cell {
    width: 100%;
}

/* cell number */

.product-nav {
    width: 100%;
}

.product-nav .product-cell {
    height: 100px;
    width: 20%;
    margin-right: 0.5rem;
}

/* Hide the default radio button */
.input-radio {
    display: none;
    /* Hide the radio button */
}

/* Style for the custom radio button */
.input-radio-label {
    position: relative;
    padding-left: 30px;
    /* Space for the custom circle */
    cursor: pointer;
    line-height: 20px;
    user-select: none;
}

label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 0px 1px $storex-inactive-grey;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.2s;
}

/* When the radio button is checked */
.input-radio:checked + .input-radio-label::before {
    background-color: $storex-red;
    border-color: $storex-red;
    border: solid white 3px;
}

.add-subtract-btn {
    color: $storex-red;
    padding: 0px 8px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 100;
    background-color: $storex-add-subtract-bg;
    border-radius: 20%;
}

.add-subtract-btn:hover {
    color: $storex-red;
    padding: 0px 8px;
    font-family: sans-serif;
    font-weight: 100;
    background-color: $storex-add-subtract-bg;
    border-radius: 20%;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.slide-in {
    animation: slideIn 0.3s forwards;
}

.slide-out {
    animation: slideOut 0.3s forwards;
}

th,
td {
    padding: 16px 8px;
}

// .--tw-ring-color {
//     color: $storex-red
// }

@import 'media-queries';
