@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flickity/dist/flickity.min.css';

// Fonts

@font-face {
    font-family: 'Lato';
    src: url(/public/fonts/Lato-Regular.eot) format('embedded-opentype');
    src: url(/public/fonts/Lato-Regular.woff2) format('woff2');
    src: url(/public/fonts/Lato-Regular.woff) format('woff');
    src: url(/public/fonts/Lato-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(/public/fonts/Lato-Bold.eot) format('embedded-opentype');
    src: url(/public/fonts/Lato-Bold.woff2) format('woff2');
    src: url(/public/fonts/Lato-Bold.woff) format('woff');
    src: url(/public/fonts/Lato-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

// Variables
@import 'variables';

html {
    font-family: 'Lato', sans-serif;
    color: $storex-grey;
}

main {
    background-color: $body-bg;
    // background: linear-gradient(180deg, $storex-light-grey 0%, $body-bg 100%);
}

.btn {
    background-color: $storex-red;
}

h1,
h1 + p {
    color: #fff;
    text-shadow: 0px 5px 20px #000000;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2,
h3 {
    font-size: 28px;
    color: $storex-grey;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

.h-104 {
    height: 28rem;
}

h2,
h3 {
    line-height: 1;
}

.icon,
.icon-hover:hover {
    fill: $storex-red;
}

li {
    font-weight: 400;
}

p {
    font-size: 18px;
    color: $storex-grey;
}

.small-paragraph {
    font-size: 13px;
}

.squeezed-text {
    display: -webkit-box;
    /* Required for multi-line clamping */
    -webkit-box-orient: vertical;
    /* Make the box vertical */
    -webkit-line-clamp: 2;
    /* Display 2 lines of text */
    overflow: hidden;
    /* Hide anything after the 2 lines */
    text-overflow: ellipsis;
    /* Add ellipsis if needed */
    line-height: 1.5;
    /* Adjust line height for readability */
    height: auto;
    /* Let the container adjust based on content */
}

.text-small {
    font-size: 13px;
}

footer,
footer p,
footer a {
    color: white;
    font-size: 18px;
}

.transform-svg {
    transform: scaleY(-1);
}

.header {
    background-position: center;
    background-size: cover;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.x-footer-links {
    order: 2;
}

#all-rights {
    order: 1;
}

/* Custom Flickity button styles */
.flickity-prev-next-button .flickity-button-icon {
    color: $storex-red;
}

.flickity-prev-next-button:disabled {
    display: none;
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.flickity-button {
    transition: background 0.2s ease-in-out;
}

/* Dot style for the selected cell */
.flickity-page-dot.is-selected {
    background-color: $storex-red;
}

// Placement of the dots.
.flickity-page-dots {
    bottom: -5px;
}

.review-cell {
    width: 30%;
    /* Slightly less than 33% to account for margins */
    margin: 0px 15px;
}

.review-carousel {
    position: relative;
    padding: 30px 0;
}

// .review-carousel .review-cell:nth-child(3n) {
//     border: none;
//     /* or border: 0; */
// }

// Media Queries

.faq-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.slide-in {
    animation: slideIn 0.3s forwards;
}

.slide-out {
    animation: slideOut 0.3s forwards;
}

@import 'media-queries';
