@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    h4,
    h5 {
        font-size: 14px;
        font-weight: 500;
    }

    p,
    a,
    label {
        font-size: 14px;
    }

    footer,
    footer p,
    footer a {
        color: white;
        font-size: 14px;
    }

    // Placement of the dots.
    .flickity-page-dots {
        bottom: 11px;
    }
}

@media (max-width: 639px) {
    /* Carousel cell styles */
    .carousel-cell {
        width: 66%;
        margin: 64px 15px;
    }

    // li button,
    p,
    a,
    label {
        font-size: 14px;
    }

    // li,
    li a,
    li button {
        font-size: 20px;
    }

    .category-cell {
        margin: 32px 15px 32px 0px;
    }
}

@media (max-width: 1024px) {
    /* Carousel cell styles */
    .carousel-cell {
        counter-increment: gallery-cell;
        counter-increment: carousel-cell;
    }

    .carousel-cell.inactive {
        opacity: 0.4;
        /* Reduce opacity */
        transform: scale(0.95);
        /* Slightly reduce size for inactive state */
    }

    .carousel-cell {
        transition:
            opacity 0.3s ease,
            transform 0.3s ease;
    }

    /* Positioning pseudo-elements */
    .carousel {
        position: relative;
        /* Needed for positioning pseudo-elements */
    }

    .review-cell {
        width: 66%;
    }

    // Placement of the dots.
    .flickity-page-dots {
        bottom: -5px;
    }
}
